<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Flower shop</title>
		<link rel="stylesheet" href="/Lib/bootstrap/css/bootstrap.css" />
	</head>
	<body>
		<header>
			<div>
				<nav class="navbar navbar-expand-lg bg-body-tertiary">
					<div class="container-fluid">
						<div class="collapse navbar-collapse">
							<ul class="navbar-nav flex w-100" style="gap: 20px;">
								<li class="nav-item">
									<a class="nav-link" asp-controller="home" asp-action="index">
										<img src="~/Lib/Public/Logo.png" alt="Logo" height="auto" width="35px">
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-controller="Category" asp-action="index">Produkter</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-controller="ContactUs" asp-action="index">Kontakt</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-controller="AboutUs" asp-action="index">Om os</a>
								</li>
								<li class="nav-item ms-auto">
									<a class="nav-link" asp-controller="checkout" asp-action="index">
										<img src="~/Lib/Public/ShoppingCart.png" alt="ShoppingCart" height="auto" width="35px">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<hr />
			</div>
		</header>

		<div class="container">
			<div>
				@RenderBody()
			</div>
		</div>

		<footer>
			<hr />
			<div class="d-flex flex-wrap" style="width: 100%; gap: 23%; justify-content: center; background-color: green; padding: 15px;">
				<div>
					<h3>Kontakt os</h3>
					<p>DiveDeep A/S</p>
					<p>Dykkervej 10</p>
					<p>5000 Odense C</p>
					<p>Danmark</p>
					<p>Telefonnummer: +45 60708090 </p>
					<p>E-mail: info@divedeep.dk</p>
					<p>CVR: 81828384</p>
				</div>

				<div>
					<h3>Åbningstider</h3>
					<p>Mandag-fredag: 10:00 - 17:30</p>
					<p>Lørdag: 10:00 - 14:00 </p>
					<p>Søndag: Lukket </p>
				</div>

				<div>
					<h3>Informationer</h3>
					<a style="color: black" asp-controller="faq" asp-action="index">FAQ</a>
					<br />
					<a style="color: black" asp-controller="#" asp-action="index">Handels- og leveringsbetingelser</a>
				</div>
			</div>
		</footer>
	</body>
</html>